# For loops

In [1]:
my_ages = [45, 23, 78]

In [2]:
print(my_ages[0]+1)

46

In [3]:
print(my_ages[1]+1)

24

In [4]:
for age in my_ages:
    print(age)

45
23
78

In [5]:
for age in my_ages:
    print(age+1)

46
24
79

In [6]:
for bananas in my_ages:
    print(bananas)

45
23
78

In [9]:
age = 42
print(age)

42

In [10]:
for age in my_ages:
    print(age)

45
23
78

In [11]:
print(age)

78

In [14]:
for age in [1, 2, "banana", 4]:
    print(age+1)

2
3

TypeError: can only concatenate str (not "int") to str

In [15]:
print(age)

banana

In [16]:
my_ages = [1, 2, 3, 4]
for age in my_ages:
    print(age)
    print(age+1)
    print(age+2)

1
2
3
2
3
4
3
4
5
4
5
6

In [19]:
my_ages = [1, 2, 3, 4]
for age in my_ages:
    print(age)
    print("Finished printing age ",age)
print("loop over")
print(age+2)

1
Finished printing age  1
2
Finished printing age  2
3
Finished printing age  3
4
Finished printing age  4
loop over
6

In [20]:
my_ages = [54, 34, 23, 45]
my_ages_next_year = []

for age in my_ages:
    new_age = age + 1
    print(new_age)
    my_ages_next_year.append(new_age)

print(my_ages_next_year)

55
35
24
46
[55, 35, 24, 46]